*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/debug/output-metadata.json
/app/debug/XemTV.23030201-debug.apk
/keys/Untitled
/app/debug/XemTV.23031601-debug.apk
/movies/.gitignore
/movies/build.gradle
/movies/consumer-rules.pro
/movies/proguard-rules.pro
/movies/src/androidTest/java/comkt/apps/movies/ExampleInstrumentedTest.kt
/movies/src/main/AndroidManifest.xml
/movies/src/test/java/comkt/apps/movies/ExampleUnitTest.kt
/app/release/output-metadata.json
/app/debug
/app/release
/icon

# generated
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
