<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="${applicationId}.MEDIA"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.MEDIA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.XemTv"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:theme="@style/Theme.XemTv.Overlay"
            android:name=".ui.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:banner="@drawable/banner"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tv"
                    android:pathPrefix="/dashboard"
                    android:scheme="xemtv" />
                <data
                    android:host="bongda"
                    android:pathPrefix="/dashboard"
                    android:scheme="xemtv" />
                <data
                    android:host="radio"
                    android:pathPrefix="/dashboard"
                    android:scheme="xemtv" />
                <data android:host="tv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.details.DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.playback.PlaybackActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:parentActivityName=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xemtivihd.net"
                    android:scheme="https" />
                <data
                    android:host="xemtivihd.net/xemtv"
                    android:scheme="https" />
                <data
                    android:host="xemtivihd.net"
                    android:scheme="xemtv" />
                <data
                    android:host="xemtivihd.net/xemtv/"
                    android:scheme="xemtv" />
                <data
                    android:host="xemtivihd.net/"
                    android:scheme="xembongda" />
                <data
                    android:host="bongda"
                    android:pathPrefix="/match"
                    android:scheme="xemtv" />
                <data
                    android:host="tv"
                    android:pathPrefix="/channel"
                    android:scheme="xemtv" />
                <data
                    android:host="radio"
                    android:pathPrefix="/channel"
                    android:scheme="xemtv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.RunOnInstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.tv.action.INITIALIZE_PROGRAMS" />
                <action android:name="android.media.tv.action.PREVIEW_PROGRAM_ADDED_TO_WATCH_NEXT" />
                <action android:name="android.media.tv.action.PREVIEW_PROGRAM_BROWSABLE_DISABLED" />
                <action android:name="android.media.tv.action.WATCH_NEXT_PROGRAM_BROWSABLE_DISABLED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".contentprovider.TVContentProvider"
            android:authorities="com.kt.apps.media.xemtv"
            android:exported="true"
            android:permission="${applicationId}.MEDIA">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>
    </application>

</manifest>