<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="${applicationId}.MEDIA"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.MEDIA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.XemTv"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <meta-data android:name="android.app.default_searchable"
            android:value=".ui.search.TVSearchActivity" />

        <activity
            android:theme="@style/Theme.XemTv.Overlay"
            android:name=".ui.DialogActivity"
            android:exported="false" />

        <activity
            android:name=".ui.search.TVSearchActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name_search"
            android:theme="@style/Theme.XemTv.Overlay"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="xemtv"/>
                <data android:host="iptv"/>
                <data android:pathPrefix="/search"/>

            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:banner="@drawable/banner"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="xemtv"/>

                <data android:host="tv"/>
                <data android:host="bongda"/>
                <data android:host="radio"/>

                <data android:pathPrefix="/dashboard"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                android:value=".ui.search.TVSearchActivity" />

        </activity>
        <activity
            android:name=".ui.details.DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.playback.PlaybackActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:parentActivityName=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="xemtv" />
                <data android:scheme="https" />
                <data android:scheme="xembongda" />

                <data android:host="xemtivihd.net" />
                <data android:host="xemtivihd.net/xemtv" />
                <data android:host="bongda" />
                <data android:host="tv" />
                <data android:host="radio" />

                <data android:pathPrefix="/match" />
                <data android:pathPrefix="/channel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.RunOnInstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.tv.action.INITIALIZE_PROGRAMS" />
                <action android:name="android.media.tv.action.PREVIEW_PROGRAM_ADDED_TO_WATCH_NEXT" />
                <action android:name="android.media.tv.action.PREVIEW_PROGRAM_BROWSABLE_DISABLED" />
                <action android:name="android.media.tv.action.WATCH_NEXT_PROGRAM_BROWSABLE_DISABLED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".contentprovider.TVContentProvider"
            android:authorities="com.kt.apps.media.xemtv"
            android:exported="true"
            android:permission="${applicationId}.MEDIA">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>
    </application>

</manifest>