<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.XemTv"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.complex.ComplexActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <activity
            android:name=".ui.playback.PlaybackActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xemtivihd.net"
                    android:scheme="https" />
                <data
                    android:host="xemtivihd.net/xemtv"
                    android:scheme="https" />
                <data
                    android:host="xemtivihd.net"
                    android:scheme="xemtv" />
                <data
                    android:host="xemtivihd.net/xemtv/"
                    android:scheme="xemtv" />
                <data
                    android:host="xemtivihd.net/"
                    android:scheme="xembongda" />
                <data
                    android:host="bongda"
                    android:pathPrefix="/match"
                    android:scheme="xemtv" />
                <data
                    android:host="tv"
                    android:pathPrefix="/channel"
                    android:scheme="xemtv" />
                <data
                    android:host="radio"
                    android:pathPrefix="/channel"
                    android:scheme="xemtv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tv"
                    android:pathPrefix="/dashboard"
                    android:scheme="xemtv" />
                <data
                    android:host="bongda"
                    android:pathPrefix="/dashboard"
                    android:scheme="xemtv" />
                <data
                    android:host="radio"
                    android:pathPrefix="/dashboard"
                    android:scheme="xemtv" />
                <data android:host="tv" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.TVService"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".services.media.IMediaSessionService"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>